# Make all line endings match macOS/linux, even on Windows.  This allows bash to run.
text eol=lf

# commit various binary file types to git-lfs
*.png filter=lfs diff=lfs merge=lfs -text
*.ktx filter=lfs diff=lfs merge=lfs -text
*.ktx2 filter=lfs diff=lfs merge=lfs -text
*.dds filter=lfs diff=lfs merge=lfs -text
