<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>vmatrace</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>vmatrace</string>
			</array>
			<key>NSDocumentClass</key>
			<string>KramDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>trace</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>trace</string>
			</array>
			<key>NSDocumentClass</key>
			<string>KramDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>json</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.json</string>
			</array>
			<key>NSDocumentClass</key>
			<string>KramDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>gz</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.gnu.gnu-zip-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>KramDocument</string>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array/>
</dict>
</plist>
