name: "pre-release"

# run on any changes, will copy data to pre-releases
on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  pre-release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        #os: [ubuntu-latest, macos-latest, windows-latest]
        os: [macos-latest, windows-2019]
        
    steps:
      - name: Update CMake
        uses: lukka/get-cmake@latest

      - name: Check out code
        uses: actions/checkout@v2

      - name: Build and install to bin/
        run: ./scripts/cibuild.sh ${{ matrix.os }}
        shell: bash
        
      # this doesn't work with a matrix, only macos is uploaded, no way to specify same tag  
      # - name: Upload build to releases
      #   uses: "marvinpinto/action-automatic-releases@latest"
      #   with:
      #     repo_token: "${{ secrets.GITHUB_TOKEN }}"
      #     automatic_release_tag: "latest"
      #     prerelease: true
      #     draft: false
      #     title: "prerelease"
      #     files: bin/*.zip

      # so do another upload to get both
      - name: Upload all builds to releases
        uses: svenstaro/upload-release-action@v2
        with:
          prerelease: true
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: bin/*.zip
          file_glob: true
          tag: ${{ github.ref }}
          overwrite: true
